/* Coolors Exported Palette - coolors.co/241e4e-960200-437f97-849324-ffb30f */

/* RGB */
$Main1:  rgb(28, 29, 65);
$Main2: rgb(53, 54, 94);
$Red: rgba(155, 75, 75,1);
$Yellow: rgba(255, 179, 15, 1);
$Green: rgba(132, 147, 36, 1);
$Bluey: rgba(67, 127, 151, 1);
$White: rgba(252, 247, 248, 1);
$Black: rgba(0, 5, 0, 1);

/* My Defined colors */
$LightGrey: #cccccc;
$Grey: #797979;
$Black3: rgba($Black, .3);
$Black6: rgba($Black, .6);
$Active: rgba($White, .4);
$BodyText: $White;
$HeaderText: $Bluey;

$vivintSolar: #ff8000;
$contacts: #1a53ff;